// parcel 2 could use babel.config.js, and {"useBuiltIns": "usage"} enabled by default
// parcel 1 ignore useBuiltIns config

{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": { "version": 3, "proposals": true }
        // baebl target config respects .browserslistrc
      }
    ]
  ]
}
