## developer machine config
## <> replace with your params

http {

  server {
    listen 8000;
    server_name _;

    root <anka_dist_dir>;
    index index.html;

    location / {
      try_files $uri $uri/ /index.html;
    }

    location /crystal {
      alias <crystal_dist_dir>;
      try_files $uri $uri/ /crystal/index.html;
    }

  }

}
