## developer machine config
## <> replace with your params

http {

  server {
    listen 8000;
    server_name _;

    root <dist_dir>;
    index index.html;

    location / {
      try_files $uri $uri/ /index.html;
    }

    location /dashboard {
      alias <dist_dir>;
      try_files $uri $uri/ /dashboard/index.html;
    }

    location /ams {
      alias <dist_dir>;
      try_files $uri $uri/ /ams/index.html;
    }

    location /rqbeta {
      alias <dist_dir>;
      try_files $uri $uri/ /rqbeta/index.html;
    }

    location /hermes {
      alias <dist_dir>;
      try_files $uri $uri/ /hermes/index.html;
    }

  }

}
