## developer machine config
## <> replace with your params

http {

  server {
    listen 443 ssl http2;
    server_name <config in /etc/hosts> ;

    location /crystal {
      alias <crystal_dist_dir>;
      try_files $uri /crystal/index.html;
    }

  }

}
